# Postgres connection string (Neon / Supabase / Vercel Postgres)
# Example: DATABASE_URL="postgresql://USER:PWD@HOST:5432/DB?sslmode=require"

DATABASE_URL="postgresql://neondb_owner:npg_x2lKbsmqMa7P@ep-mute-haze-ad6vvbnq.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require"

NEXTAUTH_SECRET="seriouslyanylongstring"
NEXTAUTH_URL="http://localhost:3000"
